<!-- Main modal -->
<div *ngIf="isOpen" tabindex="-1" class="overflow-y-auto fixed top-0 right-0 left-0 z-50 flex justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] backdrop-blur-sm max-h-full bg">
  <div class="relative p-4 w-full max-w-md max-h-full">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow-sm">
      <!-- Modal header -->
      <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600 border-gray-200">
        <h3 class="text-lg font-semibold text-green-700 dark:text-green-700">
          Crear Usuario
        </h3>
        <button type="button" (click)="closeModal()" class="text-gray-400 bg-transparent hover:bg-gray-200 hover rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white">
          <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <form class="p-4 md:p-5" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="grid gap-4 mb-4 grid-cols-2">
          <!-- Nombre -->
          <div class="col-span-2">
            <label for="name" class="block mb-2 text-sm font-medium text-green-700">Nombre</label>
            <input type="text" formControlName="name" id="name"
              [ngClass]="{'border-red-500': f['name'] && f['name'].invalid && (f['name'].dirty || f['name'].touched)}"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
              placeholder="John" required>
            <div *ngIf="f['name'] && f['name'].invalid && (f['name'].dirty || f['name'].touched)" class="text-red-500 text-xs mt-1">Nombre requerido y solo letras</div>
          </div>

          <!-- Apellido -->
          <div class="col-span-2">
            <label for="lastname" class="block mb-2 text-sm font-medium text-green-700">Apellido</label>
            <input type="text" formControlName="lastname" id="lastname"
              [ngClass]="{'border-red-500': f['lastname'] && f['lastname'].invalid && (f['lastname'].dirty || f['lastname'].touched)}"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
              placeholder="Doe" required>
            <div *ngIf="f['lastname'] && f['lastname'].invalid && (f['lastname'].dirty || f['lastname'].touched)" class="text-red-500 text-xs mt-1">Apellido requerido y solo letras</div>
          </div>

          <!-- Teléfono -->
          <div class="col-span-2 sm:col-span-1">
            <label for="phone" class="block mb-2 text-sm font-medium text-green-700">Número de teléfono</label>
            <input type="text" formControlName="phone" id="phone" maxlength="10"
              [ngClass]="{'border-red-500': f['phone'] && f['phone'].invalid && (f['phone'].dirty || f['phone'].touched)}"
              inputmode="numeric" pattern="[0-9]*"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
              placeholder="Ej: 3001234567" required (input)="onNumberInput($event)">
            <div *ngIf="f['phone'] && f['phone'].invalid && (f['phone'].dirty || f['phone'].touched)" class="text-red-500 text-xs mt-1">Teléfono requerido, solo números y 10 dígitos</div>
          </div>

          <!-- Documento -->
          <div class="col-span-2 sm:col-span-1">
            <label for="documentNumber" class="block mb-2 text-sm font-medium text-green-700">Número de documento</label>
            <input type="text" formControlName="documentNumber" id="documentNumber"
              [ngClass]="{'border-red-500': f['documentNumber'] && f['documentNumber'].invalid && (f['documentNumber'].dirty || f['documentNumber'].touched)}"
              inputmode="numeric" pattern="[0-9]*"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
              placeholder="Ej: 123456789" required (input)="onNumberInput($event)">
            <div *ngIf="f['documentNumber'] && f['documentNumber'].invalid && (f['documentNumber'].dirty || f['documentNumber'].touched)" class="text-red-500 text-xs mt-1">Documento requerido y solo números</div>
          </div>
        </div>

        <!-- Botón submit -->
        <button type="submit" [disabled]="form.invalid"
          class="text-white inline-flex items-center bg-green-700 hover:bg-green-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center disabled:opacity-50 disabled:cursor-not-allowed">
          <svg class="me-1 -ms-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path></svg>
          Crear Usuario
        </button>
      </form>
    </div>
  </div>
</div>
