@for (item of sidebarOptions; track item.route) {

    <li>
        <a routerLink="{{ item.route }}" class="w-full">
          <button
            routerLinkActive="bg-gradient-to-tr from-blue-600 to-blue-400 shadow-md shadow-blue-500/20 hover:shadow-lg hover:shadow-blue-500/40 active:opacity-[0.85]"
            class="cursor-pointer middle none font-sans font-bold center transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 rounded-lg text-white hover:bg-white/10 active:bg-white/30 flex w-full items-center gap-4 px-4 capitalize "
            type="button"
          >
            <i [class]="item.icon"></i>
            
            <p
              class="block antialiased font-sans text-base leading-relaxed text-inherit font-medium capitalize"
            >
                {{ item.label }}
            </p>
          </button>
        </a>
    </li>

}
<ul class="mb-4 flex flex-col gap-1">
      
      <li class="mx-3.5 mt-4 mb-40"></li>
      <li>
        <a class="" href="#">
          <button
            class="cursor-pointer middle none font-sans font-bold center transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 rounded-lg text-white hover:bg-white/10 active:bg-white/30 w-full flex items-center gap-4 px-4 capitalize"
            type="button"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              aria-hidden="true"
              class="w-5 h-5 text-inherit"
            >
              <path
                fill-rule="evenodd"
                d="M7.5 3.75A1.5 1.5 0 006 5.25v13.5a1.5 1.5 0 001.5 1.5h6a1.5 1.5 0 001.5-1.5V15a.75.75 0 011.5 0v3.75a3 3 0 01-3 3h-6a3 3 0 01-3-3V5.25a3 3 0 013-3h6a3 3 0 013 3V9A.75.75 0 0115 9V5.25a1.5 1.5 0 00-1.5-1.5h-6zm10.72 4.72a.75.75 0 011.06 0l3 3a.75.75 0 010 1.06l-3 3a.75.75 0 11-1.06-1.06l1.72-1.72H9a.75.75 0 010-1.5h10.94l-1.72-1.72a.75.75 0 010-1.06z"
                clip-rule="evenodd"
              ></path>
            </svg>
            <p
              class="block antialiased font-sans text-base leading-relaxed text-inherit font-medium capitalize"
            >
              Cerrar sesión
            </p>
          </button>
        </a>
      </li>
      <li></li>
    </ul>


